.address-form {
  padding-top: 30px;
  width: 350px;
  margin: 5px auto;
  &__title{
    width: 350px;
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
    font-size: $main_title_font-size;
  }
  &__input-info {
    font-size: $main_contents_font-size;
    &__label {
      width: 350px;
      margin: 30px auto 5px;
      display: flex;
      justify-content: start;
      &__set {
        text-align: start;
      }
      &--required {
        @include required(12px, 22px);
      }
      &--unrequired {
        @include unrequired(12px, 22px);
      }
    }
    &__field {
      width: 350px;
      height: 30px;
      text-align: start;
      margin: 0 auto;
      display: block;
    }
    &__area {
      width: 350px;
      height: 150px;
      text-align: start;
      margin: 0 auto;
      display: block;
      overflow: scroll;
      resize: none;
    }
    &__action-button {
      @include action-button(350px,$action_bg-color);
    }
  }
  &__input-name {
    width: 350px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    &__set {
      width: 165px;
      display: block;
      &__child {
        width: 165px;
        text-align: start;
        margin: 5px auto;
        line-height: 24px;
        display: flex;
        justify-content: start;
        &--required {
          @include required(12px, 22px);
        }
      }
      &__field {
        width: 170px;
        height: 30px;
        text-align: start;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

.invalid {
  text-align: left;
  color: red;
  font-size: $searchBox_font-size;
}