  .my--page__nav{
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    &__guide{
    max-width: 1160px;
    padding: 0 60px;
    margin: 0 auto;
      &--menu{
        padding-top: 15px;
        padding-bottom:15px;
        margin: 0 auto;
        font-size: $headerList_font-size;
        ul{
          display:flex;
          }
        &__btn{
          padding-right: 16px;
          cursor:pointer;
          a:hover{
            color:$highlight-color;
          }
          b{
            font-weight:bold;
          }
        }
        }
      }
    }

  // メインコンテンツ

  .items__details__contents{
    background-color: #f8f8f8;
    height:100%;
    width:100%;
    .main__contents{
      padding:40px;
      margin: 0 auto;
      &__details{
        width:700px;
        margin: 0 auto;
        .top__contents{
          &__items{
            background-color: #fff;
            padding:24px 40px 40px;
            &__name{
              text-align:center;
              font-weight:bold;
              font-size:24px;
            }
            &__picture{
              margin-top:16px;
              .main__picture__detail{
                &__list{
                  display:flex;
                  flex-direction: column;
                  width:560px;
                  align-items:center;
                  margin: 0 auto;
                  position:relative;
                  .main__image{
                    height:346px;
                    object-fit:cover;
                    vertical-align:bottom;
                    width:100%;
                  }
                  .sold{
                    &--icon{
                    @include sold-triangle(120px, -18px, -78px);
                    }
                    &--message{
                    @include sold-message(40px, 20px, 10px);
                    }
                  }
                  .sub__picture__detail{
                    display:flex;
                    justify-content: center;
                    margin-top:10px;
                    width:560px;
                    &__list{
                      margin:0 5px 0;
                      width:25%;
                      .sub__image{
                        object-fit:cover;
                        vertical-align:bottom;
                        width:100%;
                      }
                    }
                  }
                }
              }
            }
            &__price{
              margin: 24px 0 24px;
              text-align:center;
              display:flex;
              flex-direction:column;
              span{
                font-size:46px;
                font-weight:bold;
                margin:0 auto;
              }
              .price__detail{
                font-weight:normal;
                span{
                  font-size:16px;
                }
              }
            }
            &__text{
              line-height:1.5;
              font-size:18px;
              margin-bottom:30px;
            }
            &__table{
              margin-bottom:20px;
              table{
                width:100%;
                height:375px;
                border-collapse:collapse;
                border: 1px solid  #f8f8f8;
                tr{
                  th{
                    width:20%;
                    background-color: #eee;
                    font-weight:400;
                    padding:8px;
                    border:1px solid #dedede;
                    font-size:14px;
                    text-align:center;
                  }
                  td{
                    width:61%;
                    padding:15px 15px;
                    border: 1px solid #dedede;
                    font-size:14px;
                    a{
                      color:$highlight-color;
                    }
                  }
                }
              }
            }
            &__footer{
              display:flex;
              justify-content: space-between;
              ul{
                margin-top:10px;
                display:flex;
                .likes__btn{
                  margin-right:auto;
                  padding:6px 10px;
                  border-radius:40px;
                  color:#3CCACE;
                  border:1px solid #ffb340;
                }
                .views{
                  margin-left:10px;
                  padding:6px 10px;
                  color:#3CCACE;
                }
                .report__btn{
                  font-size:14px;
                  a{
                    display:inline-block;
                    padding:6px 10px;
                    border-radius:4px;
                    color:#333;
                    border:1px solid #333;
                  }
                }
              }
            }
          }
          .item{
            &--edit__btn{
            max-width:380px;
            text-align:center;
            margin:40px auto;
              .link__btn{
                @include required(16px,60px);
                width:100%;
              }
            }
            &--pause__btn{
            max-width:380px;
            text-align:center;
            margin:40px auto;
            .un--link__btn{
              @include unrequired(16px,60px);
              width:100%;
              }
            }
            &--delete__btn{
            max-width:380px;
            text-align:center;
            margin:40px auto;
            .un--link__btn{
              @include unrequired(16px,60px);
              width:100%;
              }
            }
          }
          p{
            display:block;
            text-align:center;
            font-size:16px;
          }
          .purchase__btn{
            max-width:380px;
            text-align:center;
            margin:40px auto;
            .link__btn{
            @include required(16px,60px);
            width:100%;
            }
          }
          &__comment{
            padding:24px;
            background-color: #fff;
            margin:10px 0;
            text-align:center;
            .comment__box{
              textarea{
                display:block;
                width:100%;
                min-height:104px;
                padding:10px;
                max-width:100%;
                font-size:16px;
                line-height:1.5;
                border:1px solid #ccc;
              }
              .notice{
                padding:8px;
                background-color: #f8f8f8;
                margin:10px 0;
                text-align:left;
                padding-bottom:10px;
                p{
                  font-size:14px;
                }
              }
              .submit__btn{
                margin-top:10px;
                line-height:48px;
                font-size:18px;
                background-color: $highlight-color;
                border:1px solid $highlight-color;
                color:#fff;
                width:60%;
                border-radius:100px;
              }
            }
          }
        }
        .link__items{
          display:flex;
          justify-content: space-between;
          a{
            color:$highlight-color;
          }
        }
        .back__category{
          a{
            display:block;
            margin:24px 0 8px;
            color:$highlight-color;
            font-weight:bold;
            font-size:22px;

          }
        }
      }
    }
  }