  .my--page__nav{
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    &__guide{
    max-width: 1160px;
    padding: 0 60px;
    margin: 0 auto;
      &--menu{
        padding-top: 15px;
        padding-bottom:15px;
        margin: 0 auto;
        font-size: $headerList_font-size;
        ul{
          display:flex;
          }
        &__btn{
          padding-right: 16px;
          cursor:pointer;
          a:hover{
            color:$highlight-color;
          }
          b{
            font-weight:bold;
          }
        }
        }
      }
    }

  // メインコンテンツ

  .items__details__contents{
    background-color: #f8f8f8;
    height:100%;
    width:100%;
    .main__contents{
      padding:40px;
      margin: 0 auto;
      &__details{
        width:700px;
        margin: 0 auto;
        .top__contents{
          &__items{
            background-color: #fff;
            padding:24px 40px 40px;
            &__name{
              text-align:center;
              font-weight:bold;
              font-size:24px;
            }
            &__picture{
              margin-top:16px;
              .main__picture__detail{
                &__list{
                  display:flex;
                  flex-direction: column;
                  width:560px;
                  align-items:center;
                  margin: 0 auto;
                  position:relative;
                  .main__image{
                    height:346px;
                    object-fit:cover;
                    vertical-align:bottom;
                    width:100%;
                  }
                  .sold{
                    &--icon{
                    @include sold-triangle(120px, -18px, -78px);
                    }
                    &--message{
                    @include sold-message(40px, 20px, 10px);
                    }
                  }
                  .sub__picture__detail{
                    display:flex;
                    justify-content: center;
                    margin-top:10px;
                    width:560px;
                    &__list{
                      margin:0 5px 0;
                      width:25%;
                      .sub__image{
                        object-fit:cover;
                        vertical-align:bottom;
                        width:100%;
                      }
                    }
                  }
                }
              }
            }
            &__price{
              margin: 24px 0 24px;
              text-align:center;
              display:flex;
              flex-direction:column;
              span{
                font-size:46px;
                font-weight:bold;
                margin:0 auto;
              }
              .price__detail{
                font-weight:normal;
                span{
                  font-size:16px;
                }
              }
            }
            &__text{
              line-height:1.5;
              font-size:18px;
              margin-bottom:30px;

              p {
                a {
                  color: $highlight-color;
                }
              }
            }
            &__table{
              margin-bottom:20px;
              table{
                width:100%;
                height:375px;
                border-collapse:collapse;
                border: 1px solid  #f8f8f8;
                tr{
                  th{
                    width:20%;
                    background-color: #eee;
                    font-weight:400;
                    padding:8px;
                    border:1px solid #dedede;
                    font-size:14px;
                    text-align:center;
                  }
                  td{
                    width:61%;
                    padding:15px 15px;
                    border: 1px solid #dedede;
                    font-size:14px;
                    a{
                      color:$highlight-color;
                    }
                  }
                }
              }
            }
            &__footer{
              display:flex;
              justify-content: space-between;
              ul{
                margin-top:10px;
                display:flex;
                .likes__btn{
                  margin-right:auto;
                  padding:6px 10px;
                  border-radius:40px;
                  color:#3CCACE;
                  border:1px solid #ffb340;
                }
                .views{
                  margin-left:10px;
                  padding:6px 10px;
                  color:#3CCACE;
                }
                .report__btn{
                  font-size:14px;
                  a{
                    display:inline-block;
                    padding:6px 10px;
                    border-radius:4px;
                    color:#333;
                    border:1px solid #333;
                  }
                }
              }
            }
          }
          .item{
            &--edit__btn{
            max-width:380px;
            text-align:center;
            margin:0 auto;
            margin-top:40px;
              .link__btn{
                @include action-button(350px,$action_bg-color);
                margin-bottom:40px;
              }
            }
            &--delete__btn{
            max-width:380px;
            text-align:center;
            margin:0 auto;
            margin-top:40px;
            .un--link__btn{
              @include action-button(350px,$option_bg-color);
              margin-bottom:40px;
              }
            }
          }
          p{
            display:block;
            text-align:center;
            font-size:16px;
          }
          .purchase__btn{
            max-width:380px;
            text-align:center;
            margin:0 auto;
            margin-top:40px;
            .link__btn{
            @include action-button(350px,$action_bg-color);
            margin-bottom:40px;
            }
          }
          &__comment{
            padding:24px;
            background-color: #fff;
            margin:10px 0;
            text-align:center;
            .comment__container{
              padding-bottom:24px;
              &__list{
                .comment--block{
                  display:flex;
                  margin-bottom:60px;
                  section{
                    .seller__link{
                      cursor:pointer;
                      .user{
                        &__icon{
                          img{
                            border-radius:50%;
                          }
                        }
                        &__name{
                          margin-top:8px;
                          padding:4px 2px;
                          background-color: $comment_seller-color;
                          color:black;
                          border-radius:2px;
                          font-size:12px;
                          vertical-align:top;
                        }
                        &__current-name{
                          margin-top:8px;
                          padding:4px 2px;
                          background-color: $comment_current_user-color;
                          color:black;
                          border-radius:2px;
                          font-size:12px;
                          vertical-align:top;
                        }
                      }
                    }
                  }
                  .user__comment{
                    &__name{
                      font-size:14px;
                      width:600px;
                      min-width:600px;
                      text-align:left;
                      padding-left:20px;
                      
                    }
                    &__current__name{
                      text-align:right;
                      padding-right:20px;
                      font-size:14px;
                      width:600px;
                    }
                    &__body{
                      margin-top:5px;
                      padding:16px;
                      border-radius:15px;
                      background-color: $comment_seller-color;
                      line-height:1.5;
                      word-break: break-all;
                      margin-left:15px;
                      font-size:14px;
                      text-align:left;
                      position:relative;
                      &--text{
                        p{
                          text-align:left;
                          font-size:14px;
                        }
                      }
                      &__date{
                        display:flex;
                        justify-content: space-between;
                        color:black;
                        margin-top:8px;
                        .left--icon{
                          display:flex;
                        }
                        .right--icon{
                          color:black;
                        }
                      }
                    }
                    &__body::before{
                      content: '';
                      position: absolute;
                      display: block;
                      width: 0;
                      height: 0;
                      left: -15px;
                      top: 10px;
                      border-right: 15px solid $comment_seller-color;
                      border-top: 15px solid transparent;
                      border-bottom: 15px solid transparent;
                    }
                    &__body__current-user{
                      margin-top:5px;
                      padding:16px;
                      border-radius:15px;
                      background-color: $comment_current_user-color;
                      line-height:1.5;
                      word-break: break-all;
                      margin-right:15px;
                      font-size:14px;
                      text-align:left;
                      position:relative;
                      &--text{
                        p{
                          text-align:left;
                          font-size:14px;
                        }
                      }
                      &__date{
                        display:flex;
                        justify-content: space-between;
                        color:black;
                        margin-top:8px;
                        .left--icon{
                          display:flex;
                        }
                        .right--icon{
                          color:black;
                          cursor:pointer;
                        }
                      }
                    }
                    &__body__current-user::before{
                      content: '';
                      position: absolute;
                      display: block;
                      width: 0;
                      height: 0;
                      right: -15px;
                      top: 10px;
                      border-left: 15px solid $comment_current_user-color;
                      border-top: 15px solid transparent;
                      border-bottom: 15px solid transparent;
                    }
                  }
                }
              }
            }
            .comment__box{
              textarea{
                display:block;
                width:100%;
                min-height:104px;
                padding:10px;
                max-width:100%;
                font-size:16px;
                line-height:1.5;
                border:1px solid #ccc;
              }
              .notice{
                padding:8px;
                background-color: #f8f8f8;
                margin:10px 0;
                text-align:left;
                padding-bottom:10px;
                p{
                  font-size:14px;
                  text-align:left;
                }
              }
              .submit__btn{
                margin-top:10px;
                line-height:48px;
                font-size:18px;
                background-color: $highlight-color;
                border:1px solid $highlight-color;
                color:#fff;
                width:60%;
                border-radius:100px;
              }
              &--text{
                margin-bottom:24px;
                line-height:48px;
                font-size:18px;
                background-color: #888;
                border:1px solid #888;
                color:#fff;
                width:100%;
              }
            }
          }
        }
      }
    }
  }