.my--page__contents__box--allert{
  background-color: #fff;
  height:100%;
  .card__information{
    &--header{
      border-bottom:1px solid #f5f5f5;
      text-align:center;
      h1{
        font-size:24px;
        padding:8px 24px;
      }
    }
    &--form{
      margin:0 auto;
      padding-top:40px;
      padding-bottom:64px;
      max-width:343px;
      .top{
        label{
          font-size:14px;
        }
        span{
          @include required(12px,22px)
        }
      }
      .card__number{
        height:48px;
        border-radius:4px;
        border:1px solid #ccc;
        background-color: #fff;
        font-size:16px;
        line-height:1.5;
        width:100%;
        margin-top:8px;
        padding:10px 16px 8px;
      }
      .card__logo{
        display:flex;
        padding-top:8px;
        li{
          margin-right:5px;
        }
      }
      .middle{
        margin-top:32px;
        label{
          font-size:14px;
        }
        span{
          font-size:12px;
          background-color: $action_bg-color;
          color:#FFFFFF;
          padding:2px 4px;
          margin-left:8px;
        }
      }
      .add__card{
        display:flex;
        width: calc(50% -2px);
        margin-top:8px;
        .card__number{
          z-index:2;
          height:48px;
          padding:0 16px;
          border-radius:4px;
          border:1px solid #ccc;
          font-size:16px;
          line-height:1.5;
          cursor:pointer;
          width: calc(100% - 38px);
        }
        span{
          font-size:14px;
          margin: 20px 8px 0;
        }

      }
      
      .bottom{
        margin-top:32px;
        label{
          font-size:14px;
        }
        span{
          font-size:12px;
          background-color: $action_bg-color;
          color:#FFFFFF;
          padding:2px 4px;
          margin-left:8px;
        }
      }
      .action{
        text-align:right;
        .question__mark{
          display:inline-block;
          background-color: $icon_bg-color;
          width:14px;
          height:14px;
          border-radius:50%;
          color:#fff;
          line-height:14px;
          font-size:12px;
          text-align:center;
        }
        a{
          font-size:14px;
          color:$icon_bg-color;
        }
      }
      .link__btn{
        margin-top:32px;
        .add__card__btn{
          @include action-button(350px,$action_bg-color);
          display:flex;
          justify-content:center;
        }
      }
    }
  }
}