/********************
 * 変数定義
********************/
// Background color
$icon_bg-color: #3CCACE;
$section_bg-color: #F8F8F8;
$footer_bg-color: #272727;
$upload_bg-color: #F5F5F5;
$option_bg-color: #999999;
$action_bg-color: #FF0110;

// Font color
$bg_font-color: #FFFFFF;
$bg_border-color: #D6D5D9;
$highlight-color: #3CCACE;
$text_shadow-color: rgb(183, 190, 183);

// Font size
$searchBox_font-size: 14px;
$headerList_font-size: 14px;
$itemIndex_font-size: 16px;
$tax_font-size: 10px;
$footerList_font-size: 12px;
$main_contents_font-size:14px;
$main_title_font-size:16px;
                
// Font family
@font-face {
  font-family: "Furima";
  src: asset_url("NotoSansJP-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/********************
 * MIXIN
********************/
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
@mixin bg_text-shadow ($size, $color:$text_shadow-color) {
  text-shadow: 1px 1px $size $color,
              -1px 1px $size $color,
              1px -1px $size $color,
              -1px -1px $size $color;
}
@mixin title-underline ($color:$icon_bg_color) {
  content: '';
        display: inline-block;
        margin-top: 10px;
        width: 70px;
        height: 4px;
        background-color: $color;
        margin-bottom: 20px;
}
@mixin dl_bannar ($sizeL:0, $sizeR:0) {
  margin-left: $sizeL;
  margin-right: $sizeR;
  width: 372px;        
  display: flex;
  justify-content: space-between;
}
@mixin action-button($width, $bg-color) {
  font-size: $main_title_font-size;
  line-height: 40px;
  width: $width;
  background-color: $bg-color;
  color: white;
  text-align: center;
  margin: 40px auto 80px auto;
  border: none;
  display: block;
  cursor: pointer;
}

@mixin required ($font-size, $line-height) {
  display: inline-block;
  background-color: #FF0110;
  color: #ffffff;
  font-size: $font-size;
  margin-left: 5px;
  padding: 0 3px;
  border-radius: 2px;
  line-height: $line-height;
}

@mixin unrequired ($font-size, $line-height) {
  display: inline-block;
  background-color: #999999;
  color: #ffffff;
  font-size: $font-size;
  margin-left: 5px;
  padding: 0 3px;
  border-radius: 2px;
  line-height: $line-height;
}

@mixin sold-triangle ($length, $top, $left) {
  border-right: $length solid transparent;
  border-bottom: $length solid red;
  border-left: $length solid transparent;
  position: absolute;
  top: $top;
  left: $left;
  z-index: 3;
  transform:rotate(-45deg);
}

@mixin sold-message ($font-size, $top, $left) {
  font-size: $font-size;
  color: $bg_font-color;
  font-weight: bold;
  position: absolute;
  top: $top;
  left: $left;
  z-index: 5;
  transform:rotate(-45deg);
}



/********************
 * FURIMAのデフォルト設定
********************/
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333333;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 26px;
  font-weight: bold;
}
h3 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 18px;
}

body {
  font-family: 'Furima';
}

strong {
  color: $highlight-color;
  font-weight: bold;
}

::placeholder {
  color: lightgray;
}

/********************
 * Partial Template
********************/
.header-simple {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-simple {
  background-color: $upload_bg-color;
  color: #222;
  font-size: 12px;
  padding: 30px 0 40px 0;
  text-align: center;
  &__list {
    text-align: center;
    @media (min-width: 760px) {
      display: flex;
      justify-content: center;
    }

    li {
      margin-left: 15px;
      margin-top: 10px;
    }
  }
  &__logo {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  p {
    font-size: 14px;
    line-height: 14px;
  }
}
