%footer.footer-simple
  %ul.footer-simple__list
    %li 
      =link_to '#' do
        プライバシーポリシー
    %li
      =link_to '#' do
        FURIMA利用規約
    %li
      =link_to '#' do
        特定商取引に関する表記
  .footer-simple__logo
    = link_to '#' do
      = image_tag asset_path('logo.png'), width: '120', alt: 'FURIMAロゴ'
  %p © FURIMA
