.contents
  %ul.contents__lists
    %li.contents__lists__list
      FURIMAについて
      %ul
        %li
          会社概要（運営会社）
        %li
          プライバシーポリシー
        %li
          FURIMA利用規約
        %li
          ポイントに関する特約
    %li.contents__lists__list
      FURIMAを見る
    %li.contents__lists__list
      ヘルプ＆ガイド
      %ul
        %li
          FURIMAガイド
        %li
          FURIMAロゴ利用ガイドライン
        %li
          お知らせ

.footer-logo
  = image_tag 'logo-white.png', width: '160', alt: 'FURIMAロゴ'
%p © FURIMA
