%footer.footer-simple
  %ul.footer-simple__list
    %li 
      プライバシーポリシー
    %li
      FURIMA利用規約
    %li
      特定商取引に関する表記
  .footer-simple__logo
    = image_tag asset_path('logo.png'), width: '120', alt: 'FURIMAロゴ'
  %p © FURIMA
