%section.profile__icon
  = form_with model: @user,url: profile_update_path, local: true do |f|
    = image_tag 'user__icon.jpg', width:'700',height: '156', alt: 'profile-user-back' 
    .profile__icon__box
      .profile__icon__box--smile
        = image_tag 'member_photo_noimage_thumb.png', width: '60',height: '60', alt: 'user-icon'
      = f.text_field :nickname, value: current_user.nickname, class: 'profile__icon__box--name'